body{
  max-width: 1000px;
}


h1 {
  background-color: rgb(190,0,0);
  padding: 10px;
  text-align: center;
}

div {
  width: 300px;
  margin: auto;
}

.octopus {
  position: relative;
  top: 0px;
  margin: 0px;
  padding-top: 0px;
}

.hat {
  position: relative;
  top:17px;
  left: 14px;
}

.glasses {
  position: absolute;
  top: 370px;
  left: 395px;
}
